<% content_for :page_specific do %>
  <%= javascript_import_module_tag "insights" %>
<% end %>

<div class="page-header">
  <div class="page-header__controls">
    <%= render 'partials/back', path: recurrings_path %>
    <%#= link_to "Insights", recurrings_insights_path, class: "btn" %>
    <%#= link_to "Add transaction", new_transaction_path, class: "btn btn--primary" %>
  </div>

  <div class="page-header__totals-container">
    <div class="page-header__total">
      <p>MTD</p>
      <p><%= number_to_currency @recurrings.select { |recurring| recurring.due_date <= Date.current }.sum(&:amount) %></p>
    </div>
    <div class="page-header__total">
      <p><%= Date.current.strftime('%B') %></p>
      <p><%= number_to_currency @recurrings.sum(&:amount) %></p>
    </div>
  </div>
</div>

<div class="detailed-card">
  <div class="detailed-card__header">
    <h3>Cumulative amount</h3>
  </div>
  <div class="detailed-card__inner">
    <%= area_chart @recurrings.total_over_time, curve: true, prefix: "$", round: 2, zeros: true, library: { 'scales': {
      'x': {
        'type': 'timeseries',
        'time': {
          'tooltipFormat': 'MMM d'
        },
      } } } %>
  </div>
</div>

<div class="detailed-card">
  <div class="detailed-card__header">
    <h3>Amount by day</h3>
  </div>
  <div class="detailed-card__inner">
    <%= column_chart @recurrings.amount_by_day, curve: true, prefix: "$", round: 2, zeros: true, library: { 'scales': {
      'x': {
        'type': 'timeseries',
        'time': {
          'tooltipFormat': 'MMM d'
        },
      } } } %>

  </div>
</div>