<%= form_with model: bucket do |form| %>
  <div class="form__input-container">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= error_for bucket, :name %>
  </div>
  <div class="form__input-container">
    <%= form.label :limit %>
    <%= form.text_field :limit %>
    <%= error_for bucket, :limit %>
  </div>
  <div class="form__input-container">
    <%= form.submit class: "btn btn--primary" %>
    <%= link_to "Cancel", buckets_path, class: "btn" %>
  </div>
<% end %>