<div class="page-header">
  <div class="page-header__totals-container">
    <%= turbo_frame_tag "transaction-total", class: "page-header__total" do %>
      <%= render "buckets/total" %>
    <% end %>
  </div>

  <div class="page-header__controls">
    <div class="flex-expand"></div>
    <%= link_to "Recurring", recurrings_path, class: "btn" %>
    <%= link_to "Add bucket", new_bucket_path, class: "btn btn--primary", data: { turbo_frame: dom_id(Bucket.new) } %>
  </div>
</div>

<%= turbo_frame_tag Bucket.new, class: "bucket__new" %>

<ul class="bucket__list">
  <%= render @buckets %>
  <li class="empty-state" id="bucket-empty-state">
    Nothing here
  </li>
</ul>

