<div class="page-header">
  <div class="page-header__totals-container">
    <%= turbo_frame_tag "transaction-total", class: "page-header__total" do %>
      <%= render "buckets/total" %>
    <% end %>
    <div class="page-header__total">
      <% limit = Current.user.limits.last %>
      <% if limit %>
        <p><%= link_to "Limit", edit_limit_path(limit) %></p>
      <% else %>
        <p>Limit</p>
      <% end %>
      <% if limit %>
        <p><%= number_to_currency(limit.amount) %>
        </p>
      <% else %>
        <%= link_to "Not set", new_limit_path %>
      <% end %>
    </div>
  </div>

  <div class="page-header__controls">
    <div class="flex-expand"></div>
    <%= render "partials/round_link", path: recurrings_path, details: "Recurring", sr_text: "Recurring costs" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-calendar-clock"
      >
        <path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/>
        <path d="M16 2v4"/>
        <path d="M8 2v4"/>
        <path d="M3 10h5"/>
        <path d="M17.5 17.5 16 16.3V14"/>
        <circle cx="16" cy="16" r="6"/>
      </svg>
    <% end %>
    <%= render "partials/round_link", path: new_bucket_path, details: "New bucket", sr_text: "New bucket", primary: true, data: { turbo_frame: dom_id(Bucket.new) } do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-folder-plus"
      >
        <path d="M12 10v6"/>
        <path d="M9 13h6"/>
        <path
          d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"
        />
      </svg>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag Bucket.new, class: "bucket__new" %>

<ul class="bucket__list">
  <%= render @buckets %>
  <li class="empty-state" id="bucket-empty-state">
    Nothing here
  </li>
</ul>
